pandas
numpy
scikit-learn
plotly
streamlit
streamlit-lottie
supabase
dbt-postgres
dagster
dagit
dagster-postgres
dagster-dbt
dagster-webserver
st-supabase-connection
streamlit-option-menu
wordcloud
pydeck